<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.max.androidchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AndroidChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.ui.RegisterActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.ui.LoginActivity" />
        </activity>
        <activity
            android:name=".contactList.ui.ContactListActivity"
            android:label="@string/contactlist.title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contactList.ui.ContactListActivity" />
        </activity>
    </application>

</manifest>